<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swifty</title>
  <link rel="stylesheet" type="text/css" href="">
</head>
<body>
  <header>
    <!-- header content -->
  </header>
  <main>
    <!-- main content area -->
    <slot />
  </main>
<footer>
        © 2024 Swifty. All rights reserved.
  </footer>
</body>
</html>